html,body
{
	height: 100%;
	width: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.top
{
	position: fixed;
	background-color: #4ba1fa;
	width: 100%;
	min-width: 979px;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.date
{
	height: 100%;
	width: 15%;
	min-width: 206px;
}

.date_font
{
	color: #f3f5fc;
	font-weight: 600;
	font-size: 230%;
	font-family: Courier New;
}

#date_year
{
	position: relative;
	top: -25%;
	font-weight: 600;
	left: 25%;
}

#date_month
{
	position: relative;
	top: -3%;
	left: -1%;
}

.date span
{
	white-space: nowrap; 
}

.date img
{
	margin-top: 10%;
	margin-left: 23%;
	width: 8%;
}

#logo
{
	height: 90%;
	margin-left: 1%;
}

.hua
{
	float: right;
	height: 100%;
	margin-right: -16%;
}

.left
{
	position: fixed;
	height: 90%;
	background-color: #89b3fa;
	width: 20%;
	min-width: 196px;
	left: 0;
	bottom: 0;
}
@media (max-width: 1195px) {
	.left
	{
		display: none;
	}
	.main
	{
		position: fixed;
		margin: auto;
		left: 0;
		bottom: 0;
		right: 0;
		height: 90%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.pointer
{
	width: 100%;
	cursor: pointer;
}

.main
{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 90%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_more
{
	right: 0;
	left: 0;
	margin: auto;
}

.board
{
	width: 94%;
	height: 90%;
	background-color: #eeeeee;
	min-width: 899px;
}

#fill
{
	width: 100%;
	height: 100%;
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

label
{
	display: block;
	margin-top: 0.5%;
	margin-left: 1%;
}

textarea
{
	font-size: 90%;
	margin: 0.5%;
	margin-left: 1%;
	resize: none;
	outline: none;
	border: none;
	background-color: transparent;
	font-family: 微软雅黑;
}

.to_fill
{
	background-color: #cfdae9;
	width: 90%;
	height: 14%;
	margin-top: 2%;
	color: #032b55;
	font-size: 135%;
}

.fill_button
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10%;
	margin-top: 2%;
}

.fill_b
{
	background-color:#92c3f5;
	border: none;
	outline: none;
	width: 20%;
	height: 80%;
	margin-top: -1%;
	border-radius: 150px;
	color: #032b55;
	font-size: 120%;
	cursor: pointer;
	min-height: 26.8px;
}

.real_file
{
	position: relative;
	width: 100%;
	border: 1px solid black;
	height: 100%;
	top: -27px;
	cursor: pointer;
	opacity: 0;
}

.top_contest
{
	margin-top: 20%;
	margin-left: 12%;
}

.buttom_contest
{
	margin-top: 50%;
	margin-left: 12%;
}

.top_contest span
{
	display: block;
	color: #130461;
	margin-top: 3%;
	font-size: 130%;
	font-family: 微软雅黑;
	letter-spacing: 4px;
}

.buttom_contest span
{
	cursor: pointer;
	color: #1c039a;
	margin-top: 5%;
	font-size: 130%;
	font-family: 微软雅黑;
	letter-spacing: 4px;
}

#pointer1,#pointer2,#pointer3,#pointer4,#pointer5,#pointer6{display: none;line-height: 2px;}

#see,#eva
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.head
{
	width: 90%;
	display: flex;
	justify-content: space-around;
}

.dep,.time
{
	color: #2d65a0;
	font-family: 微软雅黑;
	font-size: 180%;
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.time span{background-color: #bec5de;}

.to_select
{
	display: inline-block;
	width: 42%;
}

select
{
	width: auto;
	color: #2d65a0;
	font-family: 微软雅黑;
	font-size: 100%;
	border: none;
	outline: none;
	background-color: #bec5de;
}

.foot
{
	width: 90%;
	height: 85%;
	overflow: auto;
	margin-top: 2%;
}

table td{text-align: center;border: 2px solid #031d6e;}

table th{border: 2px solid #031d6e;}

table tr{height: 50px;}

table td,th{margin: 1%;}

table
{
	border: 2px solid #031d6e;
	font-family: 微软雅黑;
	font-size: 180%;
	color: #2d65a0;
}

#re
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.re_board
{
	background-color: #d6def9;
	width: 75%;
	height: 70%;
	border-radius: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.re_board input
{
	color: #2d65a0;
	font-family: 微软雅黑;
	font-size: 150%;
	background-color: #b2bbda;
}

.re_input
{
	width: 78%;
	height: 14%;
	margin-top: 3%;
	border: none;
	padding-left: 1%;
	padding-right: 1%;
}

.re_button
{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	margin-top: 4%;
}

.re_button input
{
	width: 20%;
	border: none;
	outline: none;
	border-radius: 50px;
}

.foot_button
{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.foot_button input
{
	background-color:#92c3f5;
	border: none;
	outline: none;
	margin-top: 1%;
	width: 20%;
	height: 80%;
	border-radius: 150px;
	color: #032b55;
	font-size: 120%;
	cursor: pointer;
	min-height: 26.8px;
}

#lau
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
}

#lau input
{
	background-color:#92c3f5;
	border: none;
	outline: none;
	margin-top: 1%;
	width: 20%;
	height: 80%;
	border-radius: 150px;
	color: #032b55;
	font-size: 120%;
	cursor: pointer;
	min-height: 26.8px;
}

#reg
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.reg_head
{
	color: 	#1c039a;
	font-family: 微软雅黑;
	font-size: 160%;
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.reg_head input
{
	margin-left: 2%;
}

.singular,.plural
{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.singular_board
{
	border: 3px solid #031d6e;
	width: 70%;
	height: 60%;
	color: #1c039a;
	font-family: 微软雅黑;
	font-size: 160%;
	background-color: #cfdae9;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.si
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	height: 25%;
	width: 80%;
}

.singular_input
{
	outline: none;
	border: 1px solid #4ba1fa;
	background-color: transparent;
	height: 34%;
	width: 90%;
	margin-left: 2%;
	font-family: 微软雅黑;
	font-size: 80%;
	color: #1c039a;
}

.singular label
{
	display: inline-block;
	margin-left: 0;
	margin-top: 0;
	width: 15%;
}

.seen
{
	border: none;
	width: 20%;
	height: 100%;
	margin-left: 5%;
	border-radius: 50px;
	background-color: #92c3f5;
	cursor: pointer;
	color: #032b55;
	font-size: 120%;
}

.seen input
{
	border: 1px solid red;
	width: 100%;
	height: 100%;
	position: relative;
	top: -21px;
	border-radius: 50px;
	cursor: pointer;
	opacity: 0;
}

.plural_board
{
	margin-top: 1%;
	width: 80%;
	height: 84%;
	overflow: auto;
}